body{
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.content{
  width: 300px;
  height: 100px;
  margin-bottom: 15px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;

}

img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.name{
  font-weight: bold;
  margin-bottom: 5px;
}

.email{
  font-size: 0.9rem;
}
