.u1{
  background-color: aquamarine;
  padding: 10px;
}
/* li{
  background-color: antiquewhite;
  margin: 10px;
} */

/* 자식 선택자 */
/* u1 이라는 클래스 안의 자식 li 태그들을 선택 */
.u1 > li{
  background-color: antiquewhite;
  margin: 10px;
}

/* d1 클래스를 가진 태그의 자식 중 div 태그만 선택 */
.d2 > div{
  background-color: blue;
}

/* d1 클래스를 가진 태그의 자식 중 span 태그만 선택 */
.d2 > span{
  background-color: violet;
}

/* 자손 선택자 (하위 선택자) - 태그 안의 모든 태그 */

.d1 div{
  background-color: red;
}

/* ul 태그 안의 .test라는 클래스를 지닌 자식에서 자손(하위) div를 전체 선택  */
/* ul > .test div{
} 
*/

/* .u2 > li:first-child{
  color: red;
}

.u2 > li:last-child{
  color: green;
} */

.u2 > li:nth-child(even){
color: aqua;
}