/*
  크기 단위
  px : 기본(default ) 16px
  % : 100% -> 16px
  em
  rem : 1rem -> 16px
*/

/* 
  색상 
  1. 정해진 문자 사용(red, blue, black)
  color: red;
  2. RGB 
  color: #000000;
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0~1);
  a -> alpha -> 투명도
*/

.p1{
  /* 기본 폰트 사이즈 - 16px */
font-size: 20px;
  /* 400 : normal, 700 : bold */
font-weight: bold;
  /* 기울임체 */
font-style: italic;
  /* 줄간격 */
line-height: 50px;
  /* 글자 가로 정렬 */
text-align: center;
}

.p2{
  /* 글자색 */
  color: rgb(255, 0, 0);
  /* 글자 꾸밈 */
  text-decoration: underline;
  /* 글자 사이 간격 */
  letter-spacing: 10px;
}

a{
  text-decoration: none;
  color: black;

}

#c_1{
  color: #999999;
}

#c_2{
  color: rgb(255,0,0);
}

#c_3{
  color: rgba(0,0,255,1);
}