<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  상세보기 페이지
  <table>
    <tr>
      <td>글번호</td>
      <td>123123</td>
      <td>조회수</td>
      <td>조회수 들어가야하는 곳</td>
    </tr>
    <tr>
      <td>작성일</td>
      <td>작성일 들어가야하는 곳</td>
      <td>작성자</td>
      <td>작성자 들어가야하는 곳</td>
    </tr>
    <tr>
      <td>제목</td>
      <td colspan="3">제목 들어가야하는 곳</td>
    </tr>
    <tr>
      <td>내용</td>
      <td colspan="3">제목 들어가야하는 곳</td>
    </tr>
  </table>
       
</body>
</html>