<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="adminMapper">
<!-- 여기서 카테고리 조회하는 쿼리문 작성  -->
    <resultMap id="item" type="com.green.Shop.item.vo.ItemVO">
        <result column="ITEM_CODE" property="itemCode" />
        <result column="ITEM_NAME" property="itemName" />
        <result column="ITEM_PRICE" property="itemPrice" />
        <result column="ITEM_INTRO" property="itemIntro" />
        <result column="ITEM_STOCK" property="itemStock" />
        <result column="ITEM_STATUS" property="itemStatus" />
        <result column="CATE_CODE" property="cateCode" />
    </resultMap>

<!-- 카테고리 목록 조회 쿼리-->
    <select id="getCategoryList" resultMap="itemMapper.category">
        SELECT CATE_CODE,
               CATE_NAME
        FROM ITEM_CATEGORY
    </select>

<!-- 상품 등록 -->
    <insert id="insertItem">
        INSERT INTO SHOP_ITEM (
            ITEM_NAME
          , ITEM_PRICE
          , ITEM_INTRO
          , ITEM_STOCK
          , ITEM_STATUS
          , CATE_CODE
        )
        VALUES (
        #{itemName}
        #{itemPrice}
        #{itemIntro}
        #{itemStock}
        #{itemStatus}
        #{cateCode}
        )
    </insert>
</mapper>































