.container{
  /* border: 1px solid black; */
  width: 100vw;
}

.login-div{
  width: 100%;
  color: white;
  background-color: black;
}

.join-div{
  display: flex;
  justify-content: right;
}


.layout-div{
  /* border: 1px solid red; */
  width: 80%;
  margin: 0 auto;
}

.join-form{
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  padding: 15px;
  border-radius: 50px;
}


