<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/ic4" method="post">
    <h1>학생 성적 입력 프로그램</h1>
    <input th:value="${scoreVO.getName}"> 학생의 성적을 입력합니다. <br>
    국어 <input type="text" name="korScore"> <br>
    영어 <input type="text" name="engScore"> <br>
    수학 <input type="text" name="mathScore"> <br>
    <input type="submit" >

  </form>
</body>
</html>