<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>학생 성적 입력 프로그램</h1>
  <form action="/ic3" method="post">
    <input th:value="${scoreVO.getName}"> 학생의 기본 정보를 입력합니다. <br>
    
    학년 : <input type="text" name="age"> <br>
    연락처 : 
    <select name="tell">
      <option value="010" selected>010</option>
      <option value="011">011</option>
      <option value="012">012</option>
    </select>
    <input type="text" name="tell2"> <br>
    성별
    <input type="radio" name="gender" value="남자">남자
    <input type="radio" name="gender" value="여자">여자 <br>

    <input type="submit" value="확인">

  </form>
</body>
</html>