<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/reg_stu" method="post">
  학번 <input type="text" name="year"><br>
  이름 <input type="text" name="name"><br>
  국어점수 <input type="text" name="korScore"><br>
  영어점수 <input type="text" name="engScore"><br>
  학생소개 <input type="text" name="intro"><br>
  <input type="submit" value="등록완료">
</form>
</body>
</html>