<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="joinMapper">

    <resultMap id="member" type="com.green.Board.vo.MemberVO">
        <id column="MEM_ID"         property="memId"/>
        <result column="MEM_PW"     property="memPw"/>
        <result column="MEM_NAME"   property="memName"/>
        <result column="GENDER"     property="gender"/>
        <result column="MEM_ROLE"   property="memRole"/>
    </resultMap>



    <resultMap id="board" type="com.green.Board.vo.BoardVO">
        <id column="BOARD_NUM"          property="boardNum"/>
        <result column="TITLE"          property="title"/>
        <result column="CONTENT"        property="content"/>
        <result column="MEM_ID"         property="memId"/>
        <result column="CREATE_DATE"    property="createDate"/>
        <!-- association = 1:1 대응 -->
        <!-- 같은 파일에 있는 경우 -> resultMap id -->
        <association property="memberVO" resultMap="member"/>
        <!-- collection = 1:n 대응-->
        <!-- 다른 파일에 있는 경우 -> 해당 파일명.resultMap id -->
        <collection property="replyList" resultMap="replyMapper.reply"/>
    </resultMap>

    <!-- 게시글의 글번호, 제목, 작성자id, 작성자명, 작성자 권한-->
    <select id="bbb" resultMap="board">
        SELECT BOARD_NUM
            ,  TITLE
            ,  B.MEM_ID
            ,  MEM_NAME
            ,  MEM_ROLE
        FROM BOARD B, BOARD_MEMBER M
        WHERE B.MEM_ID = M.MEM_ID;
    </select>

    <select id="ccc" resultMap="board">
        SELECT title, b.mem_id, reply_content, b.board_num
        FROM board b, board_reply r
        WHERE b.board_num = r.board_num
        AND b.board_num = 1
    </select>

</mapper>































