.App {
  width: 100%;
  text-align: center;
}


/* 메인 헤더 공용 부분 */
.main-div{
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
  width: 70%;
}

.main-div > div {
  flex: 1;
  padding: 10px;
  background-color: rgb(145, 145, 202);
  color: white;
  font-size: 1.3rem;
}

.sub-div{
  margin: 200px;
  font-size: 5rem;
}

/* 차량관리 페이지 */
