<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body> 
  <!-- 페이지 이동하면서 데이터 넘기기 위해선 form으로 감싸고 method값은 post
       form 안에 input tpye 값은 submit -->
  <form action="/reg" method="post">
  학번 : <input type="text" name="stuNum"> <br>
  이름 : <input type="text" name="stuName"> <br>
  국어점수 : <input type="text" name="korScore"> <br>
  영어점수 : <input type="text" name="engScore"> <br>
  자기소개 : <textarea name="intro" ></textarea> <br>
  <input type="submit" value="등록완료">
  <!-- 등록 완료 되면 데이터 가지고 목록 페이지로 가기 -->
 </form>
</body>
</html>